.top_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    width: 100%;
    padding: 0px 5%;
    position: absolute;
    z-index: 10;
}

.top_bar .logo{
    font-family: 'Blanka', sans-serif !important;    
    text-decoration: none;
    color: white;
    font-size: 25px;                             
}

.top_bar ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

.top_bar ul li a{
    text-decoration: none;
    color: white;
}

.wallet-btn{
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    padding:5px 1rem;
    cursor: pointer;
}

.hero{
    position: relative;
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    overflow: hidden;
}
.hero .hero_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero .content{
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5%;
}
.hero .content .text {
    width: 65%;
    color: white;
    z-index: 2;

}
.hero .content .text h1{
    font-size: 5.6vw;
}

.hero .content .text p{
    font-size: 22px;
    margin: 20px 0;
}

.hero .img_container{
    width: 35%;
    min-width: 35%;
    transform: translateX(-85%);
}

.hero .img_container img{
    width: 200%;
}

.stake-link{
    /* margin-top: 3rem; */
    width: 70px;
    height: auto;
    padding: 1rem;
    background-color: #e9340f;
    color: white;
    font-weight: 600;
    font-size: larger;
    border-radius: 5px;
}

.how .container{
    display: flex;
    position:relative;
}

.how .container img{
    width: 100%;
}

.how .container .img_container{
    width: 50%;
}

.how{
    padding: 70px 5%;
}

.how .heading{
    font-size: 3.5vw;
}
.how .content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    width: 50%;
    margin-top: 40px;
    z-index:2;
}
.how .card{
    background-color: rgba(255, 255, 255, 0.753);
    backdrop-filter: blur(20px);
    /* box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.207); */
    padding: 30px;
    border-radius: 8px;
}
.how .card .num{
    padding: 20px;
    width: 60px;
    height: 60px;
    /* border-radius: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 900;
    color: black;
    /* color: white; */
    border-bottom: 1px solid pink;
}

.how .card p{
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.4;
    color: rgb(57, 57, 57);
}

.how .card:nth-last-child(1):not(.why .card){
    background:linear-gradient(45deg, royalblue, crimson, orange);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
}

.why{
    padding: 70px 5%;
}

.why .heading{
    font-size: 3.5vw;
}

.why .content{
    display:grid;
    width: 100%; 
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.why .card{
    /* box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.080); */
    background-color: transparent;
    background-color:white ;
    padding:70px 50px;
    border-radius: 10px;
}

.why  .card p{
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.4;
    color: rgb(57, 57, 57);
}

.why .card h2{
    font-size: 2.1vw;
    margin-bottom:10px;
}

.why .card button{
    /* background:linear-gradient(45deg, rgb(78, 114, 221), rgb(230, 68, 101)); */
}

.subscribe{
    padding: 70px 5%;
    text-align: center;
    background-color: #FAF6FA;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}

.subscribe .heading{
    font-size: 3.5vw;
}

.subscribe .input_container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid gainsboro;
    width: 100%;
    height: 55px;
    max-width: 600px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 40px;
}

.subscribe .input_container input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    height: 100%;
    padding: 12px;
}

.subscribe p{
    color: #626262;
    margin-top: 11px;
}

.subscribe p a{
    color: #00A3FF;
    text-decoration: none;
}

.subscribe .text{
}

@media screen and (max-width:1200px){
    .how .container .img_container{
        position:absolute;
        right:-2%;
        top: -100px;
        width: 70%;
    }

    .how .content{
        width: 70%;
    }
    
}

@media screen and (max-width:950px){
    .top_bar ul, .top_bar button{
        display:none;
    }
    .hero .content{
        flex-direction: column;
    }
    .hero .content .text {
        text-align:center;
        width: 100%;
        padding: 80px 0;
    }
    .hero .img_container{
        position: absolute;
        transform: translateX(55%);
        opacity: 0.4;
    }
    .how .content{
        width: 100%;
    }
    .why .content{
        display: none;
        grid-template-columns:repeat(2,1fr);
    }
}

@media screen and (max-width:550px){
    .how .content{
        grid-template-columns: repeat(1,1fr);
    }
}
